<div class="center hero-unit">
    <h1>Bienvenue sur Cocktailizr</h1>

    <h2>
      Cocktailizr vous permet de déterminer les cocktails réalisables en fonctions des ingrédients que vous avez, chez vous.
    </h2>

	 <%= link_to "Ajouter un nouveau cocktail", new_cocktail_path,
                                class: "btn btn-large btn-primary" %>

</div>