<class="control-group nested-fields">
  <div class="controls">


		<div class="span6">	
		 <%= f.fields_for :ingredient do |quantity_ingredient| %>
     	 	<%= quantity_ingredient.text_field :name, placeholder:"Ingrédient" %>
   		 <% end %>
		</div>

		<div class="span5" >	
    		<%= f.text_field :dose, placeholder: "Quantité en cl" %>
		</div>


		<!--%= link_to_remove_association "remove", f, class: "btn" %-->
	</div>
</div>