<% provide(:title, 'Cocktail') %>
<h1>Cocktail</h1>

<p>
  <b>Nom :</b>
  <%= @cocktail.name %>
   <br />
    <b>Description :</b>
  <%= @cocktail.description %>
  <br /> <br />

 	<b>Ingrédients :</b>
  <% @cocktail.ingredients.each do |ingredients| %>
  <li><%= ingredients.name %></li>
<% end %>
</p>

  <%= link_to "Ajouter un nouveau coktail", new_cocktail_path,
                           class: "btn btn-large btn-primary" %>