<h1>Listing authors</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredients.each do |author| %>
  <tr>
    <td><%= author.name %></td>

  </tr>
<% end %>
</table>

<br />
