<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué suite à plusieurs tentatives de connexion.</p>

<p>Pour débloquer votre compte, suivez le lien suivant: </p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
